

.wrapper {
  background-color: black;
}
.titletext {
  color: white;
  margin-bottom: 20px;
}

.biotext {
  color: white;
  margin-bottom: 10px;
}

.specialties-span {
  font-weight: 700;
}





/* get in touch page */

.getintouchwrapper {
  background-color: black;
  min-height: 100vh;
}
.contactpage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formcontainer {
  background-color: #eee;
  max-width: 40vw;
}
.formSection {
  display: block;
  
}

.formlabel{
  text-align: left;
}