

.wrapper {
  background-color: black;
}
.titletext {
  color: white;
  margin-bottom: 20px;
}

.biotext {
  color: white;
  margin-bottom: 10px;
}

.specialties-span {
  font-weight: 700;
}





/* get in touch page */

.getintouchwrapper {
  background-color: black;
  min-height: 100vh;
}

.contactTitle {
  font-size: 6rem;
}
.contactpage {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.formcontainer {
  background-color: black;
  
  padding: 12px;
}

.formcontainer p {
  font-size: 1.5rem;
  margin-bottom: 10px;
  
}
.formSection button {
  background-color: rgb(83, 83, 227);
  color: white;
  padding: 8px;
  border: none;
  font-size: 1.4rem;
  border-radius: 8px;
  display: flex;

}

.formSection p {
  margin-left: 5px;
  font-size: 1.2rem;
}

.formlabel{
  text-align: left;
}
.messageinput {
  border: none;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  color: black;
  width: 400px;
  height: 200px;
}


.forminput {
  border: none;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  color: black;
}


.formButton {
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .messageinput {
    max-width: 80vw;
  }
  .contactTitle {
    font-size: 4rem;
  }
}
