

.wrapper {
  background-color: black;
}
.titletext {
  color: white;
  margin-bottom: 20px;
}

.biotext {
  color: white;
  margin-bottom: 10px;
}

.specialties-span {
  font-weight: 700;
}





/* get in touch page */

.getintouchwrapper {
  background-color: black;
  min-height: 100vh;
}
.contactpage {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.formcontainer {
  background-color: black;
  
  padding: 12px;
}

.formcontainer p {
  font-size: 1.5rem;
  margin-bottom: 10px;
  
}
.formSection button {
  background-color: rgb(83, 83, 227);
  color: white;
  padding: 8px;
  border: none;
  font-size: 1.4rem;
  border-radius: 8px;
  

}

.formSection p {
  margin-left: 5px;
  font-size: 1.2rem;
}

.formlabel{
  text-align: left;
}

.messageinput {
  
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  color: black;
}

.forminput {
  border: none;
  border-radius: 8px;
  
  margin-bottom: 10px;
  color: black;
}
